


@import url();

.solanaRedirect{
    overflow: hidden;

}
.solanaRedirect:hover a{
    animation-name: solanaButtonHoverAnimation;
    animation-duration: 2s;
}


@keyframes solanaButtonHoverAnimation{
    
    0%{
        
        transform: translateX(0%);
    }

    40%{
        color: black;
        transform: translateX(-100%);
    }

    40.1% {
        color: red;
        transform: translateX(100%);
    }

    100%{
        color: green;
        transform: translateX(0%);
    }


}